@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  --color-title: #75b79e;
  --color-card: #a7e9af;
  --color-background: #eef9bf;
  --color-card-border: #99cea8;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Roboto", sans-serif;

  background-color: var(--color-background);
}

header {
  width: 100%;
  margin: 40px auto 47px auto;
}

img {
  height: 100px;
  width: 100px;
}

.app-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: var(--color-title);
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.cards {
  width: 117px;
  height: 146px;
  position: relative;
}

.face {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--color-card);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.cards.flipped .back-face {
  transform: rotateY(0deg);
}

.cards.flipped .front-face {
  transform: rotateY(-180deg);
}

.timer {
  min-width: 60px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 5px;
  right: 5px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-card-border);
  border-radius: 4px;

  background-color: var(--color-title);
  color: var(--color-background);
}

.no-click {
  pointer-events: none;
}

@media (max-width: 640px) {
  .app-title {
    font-size: 46px;
  }
  .card {
    margin-bottom: 10%;
  }
}
